/*------------------------------------*\
    $BORDER-BOX
\*------------------------------------*/
/**
 * Quieres todos los elementos tener un box-sizing:border-box?
 * paulirish.com/2012/box-sizing-border-box-ftw ?
 */
/*------------------------------------*\
    $RESET
\*------------------------------------*/
html, body, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, nav, section {
  display: block; }

.tags-container {
  display: block;
  overflow: hidden;
  width: 100%;
  padding-bottom: 10px; }

.tags-type {
  display: block;
  position: relative;
  float: left;
  height: 20px;
  font-size: 12px;
  line-height: 22px;
  font-weight: 500;
  padding: 0 8px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 2px;
  margin-right: 5px;
  margin-top: 5px; }
  .tags-type.bug {
    background-color: #009688;
    opacity: 0.8; }
    .tags-type.bug::before {
      content: 'bug'; }
  .tags-type.electric {
    background-color: #FFC107;
    opacity: 0.8; }
    .tags-type.electric::before {
      content: 'electric'; }
  .tags-type.fire {
    background-color: #FF5722;
    opacity: 0.8; }
    .tags-type.fire::before {
      content: 'fire'; }
  .tags-type.grass {
    background-color: #4CAF50;
    opacity: 0.8; }
    .tags-type.grass::before {
      content: 'grass'; }
  .tags-type.normal {
    background-color: #4A4A4A;
    opacity: 0.8; }
    .tags-type.normal::before {
      content: 'normal'; }
  .tags-type.rock {
    background-color: #9E9E9E;
    opacity: 0.8; }
    .tags-type.rock::before {
      content: 'rock'; }
  .tags-type.dark {
    background-color: #263238;
    opacity: 0.8; }
    .tags-type.dark::before {
      content: 'dark'; }
  .tags-type.fairy {
    background-color: #E91E63;
    opacity: 0.8; }
    .tags-type.fairy::before {
      content: 'fairy'; }
  .tags-type.flying {
    background-color: #2962FF;
    opacity: 0.8; }
    .tags-type.flying::before {
      content: 'flying'; }
  .tags-type.ground {
    background-color: #795548;
    opacity: 0.8; }
    .tags-type.ground::before {
      content: 'ground'; }
  .tags-type.poison {
    background-color: #21D0A9;
    opacity: 0.8; }
    .tags-type.poison::before {
      content: 'poison'; }
  .tags-type.steel {
    background-color: #607D8B;
    opacity: 0.8; }
    .tags-type.steel::before {
      content: 'steel'; }
  .tags-type.dragon {
    background-color: #5C6BC0;
    opacity: 0.8; }
    .tags-type.dragon::before {
      content: 'dragon'; }
  .tags-type.fighting {
    background-color: #F44336;
    opacity: 0.8; }
    .tags-type.fighting::before {
      content: 'fighting'; }
  .tags-type.ghost {
    background-color: #E2E2E2;
    opacity: 0.8;
    color: #4A4A4A; }
    .tags-type.ghost::before {
      content: 'ghost'; }
  .tags-type.ice {
    background-color: #81D4FA;
    opacity: 0.8; }
    .tags-type.ice::before {
      content: 'ice'; }
  .tags-type.psychic {
    background-color: #9C27B0;
    opacity: 0.8; }
    .tags-type.psychic::before {
      content: 'psychic'; }
  .tags-type.water {
    background-color: #2196F3;
    opacity: 0.8; }
    .tags-type.water::before {
      content: 'water'; }

@media (max-width: 680px) {
  .type-container {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 14px; }

  .tags-type {
    height: 20px;
    font-size: 10px;
    line-height: 21px;
    font-weight: 700;
    padding: 0 10px;
    margin-bottom: 5px; } }
.navbar {
  position: fixed;
  width: 100%;
  height: 60px;
  font-size: 17px;
  color: #2A3C4B;
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid rgba(77, 100, 120, 0.2);
  text-align: center;
  z-index: 9999; }
  .navbar .searchbar-container {
    display: block;
    position: relative;
    height: 60px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; }
    .navbar .searchbar-container .logo {
      position: absolute;
      width: 30px;
      height: 30px;
      left: 20px;
      top: 15px; }
    .navbar .searchbar-container h1 {
      position: relative;
      display: block;
      float: left;
      font-size: 20px;
      font-weight: 500;
      line-height: 60px;
      margin-left: 40px; }
    .navbar .searchbar-container .menu-container {
      position: absolute;
      top: 0;
      right: 280px;
      height: 60px;
      padding-right: 20px; }
      .navbar .searchbar-container .menu-container ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        .navbar .searchbar-container .menu-container ul li {
          position: relative;
          float: left;
          height: 100%;
          width: 44px;
          padding: 18px 0;
          cursor: pointer;
          -webkit-transition: all 200ms ease;
          transition: all 200ms ease; }
          .navbar .searchbar-container .menu-container ul li:hover:before {
            width: 44px;
            height: 44px; }
          .navbar .searchbar-container .menu-container ul li:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0;
            height: 0;
            background-color: #f0f0f0;
            border-radius: 99px;
            -webkit-transition: all 200ms ease;
            transition: all 200ms ease;
            -webkit-transform: translate3d(-50%, -50%, 0);
                    transform: translate3d(-50%, -50%, 0); }
          .navbar .searchbar-container .menu-container ul li img {
            position: relative;
            display: block;
            width: 100%;
            max-width: 24px;
            margin: 0 auto; }
    .navbar .searchbar-container .searchbar {
      position: absolute;
      top: 0;
      right: 0;
      max-width: 300px;
      width: 100%;
      height: 100%;
      padding: 15px 20px;
      background-color: white;
      border-bottom: 1px solid rgba(77, 100, 120, 0.2);
      display: block; }
      .navbar .searchbar-container .searchbar input {
        border: none;
        height: 30px;
        width: 100%;
        border-radius: 8px;
        text-align: left;
        color: #2A3C4B;
        font-size: 15px;
        font-weight: 400;
        padding: 0 35px;
        text-transform: capitalize;
        background-color: rgba(77, 100, 120, 0.2); }
      .navbar .searchbar-container .searchbar .search-icon {
        position: absolute;
        top: 22px;
        left: 30px;
        width: 20px;
        height: 20px;
        cursor: pointer; }
      .navbar .searchbar-container .searchbar .close-icon {
        position: absolute;
        top: 21px;
        right: 30px;
        width: 20px;
        height: 20px;
        opacity: 0;
        cursor: pointer;
        -webkit-transition: all 250ms ease;
        transition: all 250ms ease;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
        .navbar .searchbar-container .searchbar .close-icon.visible {
          opacity: 1;
          -webkit-transform: rotate(0deg);
                  transform: rotate(0deg);
          -webkit-transition: all 250ms ease;
          transition: all 250ms ease; }

.showSearch {
  display: block !important; }

.hiddenSearch {
  display: none !important; }

@media (max-width: 680px) {
  .navbar {
    background-color: rgba(255, 255, 255, 0.95); }
    .navbar .searchbar-container .logo {
      right: 10px; }
    .navbar .searchbar-container .menu-container {
      position: absolute;
      top: 0;
      right: 0px; }
    .navbar .searchbar-container .searchbar {
      top: -100%;
      max-width: 680px;
      border-bottom: 0.5px solid rgba(77, 100, 120, 0.2);
      -webkit-transition: all 250ms ease;
      transition: all 250ms ease; }

  .moveDown {
    top: 0 !important;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease; } }
.card {
  display: block;
  position: relative;
  float: left;
  width: 20%;
  height: auto;
  padding: 10px; }
  .card .pk-container {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    cursor: pointer;
    padding-bottom: 20px;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease; }
    .card .pk-container:hover:before {
      background-color: #f0f0f0;
      width: 100%;
      height: 100%;
      opacity: 1;
      -webkit-transition: all 400ms ease;
      transition: all 400ms ease; }
    .card .pk-container:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 95%;
      height: 95%;
      border-radius: 10px;
      background-color: #f0f0f0;
      opacity: 0;
      -webkit-transform: translate3d(-50%, -50%, 0);
              transform: translate3d(-50%, -50%, 0);
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease; }
    .card .pk-container .pk-img {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      padding: 20px 10px 5px 10px; }
      .card .pk-container .pk-img img {
        position: relative;
        display: block;
        width: 100%;
        max-width: 96px;
        margin: 0 auto;
        z-index: 10; }
      .card .pk-container .pk-img .color-detail {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        z-index: 1; }
    .card .pk-container .name {
      position: relative;
      display: block;
      text-align: center;
      font-size: 20px;
      line-height: 24px;
      padding-bottom: 5px;
      font-weight: 500;
      color: #2A3C4B;
      z-index: 60; }
    .card .pk-container .number {
      position: relative;
      font-size: 14px;
      text-align: center;
      color: #A6B0B6; }
  .card .info {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 20px;
    padding-left: 140px;
    margin-top: -10px; }
    .card .info h3 {
      font-size: 16px;
      font-weight: 400;
      color: #4D6478;
      margin-top: 15px;
      margin-bottom: 5px; }

@media (max-width: 960px) {
  .card {
    width: 25%; } }
@media (max-width: 680px) {
  .card {
    width: 33.33%;
    padding: 2px; }
    .card .pk-container {
      padding-bottom: 8px; }
      .card .pk-container:hover:before {
        width: 100%;
        height: 100%;
        -webkit-transition: all 200ms ease;
        transition: all 200ms ease; }
      .card .pk-container:before {
        width: 90%;
        height: 90%; }
      .card .pk-container .pk-img {
        padding: 5px 10px 0px 10px; }
        .card .pk-container .pk-img img {
          max-width: 96px; }
      .card .pk-container .name {
        text-align: center;
        font-size: 15px;
        line-height: 18px;
        padding-top: 10px;
        padding-bottom: 5px;
        font-weight: 500;
        color: #2A3C4B; }
      .card .pk-container .number {
        position: relative;
        font-size: 12px;
        text-align: center;
        color: #A6B0B6; } }
.wrapper-fixed {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99990;
  display: none; }
  .wrapper-fixed .overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); }
  .wrapper-fixed .divider {
    position: relative;
    display: block;
    height: 1px;
    float: left;
    width: 100%;
    background-color: rgba(77, 100, 120, 0.2);
    margin-top: 10px;
    margin-bottom: 10px; }
  .wrapper-fixed .content-side {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 480px;
    height: 100%;
    min-height: 100%;
    background-color: #FFFFFF;
    z-index: 99980;
    overflow: auto; }
    .wrapper-fixed .content-side .back-inner {
      display: none; }
    .wrapper-fixed .content-side .back {
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 10px;
      cursor: pointer;
      z-index: 9980;
      -webkit-transition: all 250ms ease;
      transition: all 250ms ease;
      border-radius: 90px; }
      .wrapper-fixed .content-side .back:hover {
        -webkit-transition: all 250ms ease;
        transition: all 250ms ease;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.4); }
      .wrapper-fixed .content-side .back.intonav {
        box-shadow: none;
        top: 8px;
        -webkit-transition: all 250ms ease;
        transition: all 250ms ease; }
        .wrapper-fixed .content-side .back.intonav:hover {
          -webkit-transition: all 250ms ease;
          transition: all 250ms ease;
          box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.4); }
  .wrapper-fixed .sidebar-inner {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 480px;
    height: 100%;
    overflow: auto;
    background-color: #ffffff;
    z-index: 99999; }
    .wrapper-fixed .sidebar-inner .back {
      display: none; }
    .wrapper-fixed .sidebar-inner .back-inner {
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 10px;
      cursor: pointer;
      z-index: 9980;
      -webkit-transition: all 250ms ease;
      transition: all 250ms ease;
      border-radius: 90px; }
      .wrapper-fixed .sidebar-inner .back-inner:hover {
        -webkit-transition: all 250ms ease;
        transition: all 250ms ease;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.4); }
  .wrapper-fixed .navigation-side-fixed {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 9999; }
  .wrapper-fixed .scroll-content {
    position: relative;
    height: 100%;
    min-height: 100%;
    overflow: auto;
    width: 100%;
    background-color: #FFFFFF; }

.sidebar-inner {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 380px;
  height: 100%;
  background-color: #ffffff;
  z-index: 99999;
  box-shadow: -4px 0px 20px 0px rgba(0, 0, 0, 0.2);
  z-index: 99999; }

.overlay-inner {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: none; }

.display {
  display: block; }

.slideIn {
  -webkit-animation-name: slideIn-a;
          animation-name: slideIn-a;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
          animation-timing-function: cubic-bezier(0.85, 0, 0.15, 1); }

.slideOut {
  -webkit-animation-name: slideOut-a;
          animation-name: slideOut-a;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
          animation-timing-function: cubic-bezier(0.85, 0, 0.15, 1); }

.fadeIn {
  -webkit-animation-name: fadeIn-a;
          animation-name: fadeIn-a;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease; }

.fadeOut {
  -webkit-animation-name: fadeOut-a;
          animation-name: fadeOut-a;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease; }

.scaleIn {
  -webkit-animation-name: scaleIn-a;
          animation-name: scaleIn-a;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease; }

@-webkit-keyframes slideIn-a {
  0% {
    right: -100%; }
  100% {
    right: 0; } }

@keyframes slideIn-a {
  0% {
    right: -100%; }
  100% {
    right: 0; } }
@-webkit-keyframes slideOut-a {
  0% {
    right: 0; }
  100% {
    right: -100%; } }
@keyframes slideOut-a {
  0% {
    right: 0; }
  100% {
    right: -100%; } }
@-webkit-keyframes fadeIn-a {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn-a {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeOut-a {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut-a {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@media (max-width: 680px) {
  .wrapper-fixed .content-side .divider {
    height: 0.5px; }
  .wrapper-fixed .sidebar-inner {
    right: 0; } }
.scroll-content.no-navbar {
  padding-top: 120px !important; }

.color-detail {
  position: absolute;
  display: block;
  top: -1px;
  height: 11px;
  width: 100%;
  z-index: 9999; }

.pk-header {
  position: relative;
  color: #2A3C4B;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 99;
  padding: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 0.5px solid rgba(77, 100, 120, 0);
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease; }
  .pk-header.shadow {
    border-bottom: 0.5px solid rgba(77, 100, 120, 0.2);
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease; }
  .pk-header .pk-img {
    position: relative;
    display: block;
    float: left;
    height: 100%;
    margin-right: 20px; }
    .pk-header .pk-img img {
      position: relative;
      display: block;
      width: 100%;
      max-width: 96px;
      margin: 0 auto; }
  .pk-header .number {
    position: absolute;
    top: 20px;
    left: 156px;
    font-size: 14px;
    text-align: left;
    color: #A6B0B6; }
  .pk-header .name {
    text-align: left;
    font-size: 24px;
    line-height: 30px;
    padding-top: 20px;
    font-weight: 500;
    color: #2A3C4B; }
  .pk-header .type-container {
    display: inline-block;
    font-size: 14px;
    color: #A6B0B6;
    font-weight: 500;
    text-align: left; }

.content-side-info {
  position: relative;
  display: block;
  padding: 40px;
  padding-top: 0px;
  overflow: hidden; }
  .content-side-info h3 {
    font-size: 20px;
    font-weight: 400;
    color: #4D6478;
    margin-top: 15px;
    margin-bottom: 5px; }
  .content-side-info .placeholder {
    font-size: 15px;
    color: #A6B0B6;
    font-weight: 400;
    line-height: 19px;
    margin-top: 5px; }
  .content-side-info .stats-container {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 10px 0; }
    .content-side-info .stats-container .stats-name {
      position: relative;
      float: left;
      height: 30px;
      line-height: 30px;
      font-size: 15px;
      color: #A6B0B6;
      width: 24%; }
    .content-side-info .stats-container .percentage-wrapper {
      display: block;
      position: relative;
      float: right;
      width: 76%;
      height: 10px;
      background-color: #dedede;
      border-radius: 2px;
      margin-top: 10px;
      margin-bottom: 10px; }
      .content-side-info .stats-container .percentage-wrapper .points {
        position: absolute;
        top: -5px;
        left: 0%;
        margin-left: -10px;
        height: 20px;
        font-size: 12px;
        line-height: 20px;
        font-weight: 500;
        padding: 0 6px;
        color: #4D6478;
        background-color: #ffffff;
        text-transform: uppercase;
        white-space: nowrap;
        border-radius: 2px;
        z-index: 99;
        border: 1px solid #dedede;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        -webkit-transition: left 600ms ease, width 600ms ease;
        transition: left 600ms ease, width 600ms ease; }
      .content-side-info .stats-container .percentage-wrapper .percentage {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;
        border-radius: 2px;
        -webkit-transition: left 600ms ease, width 600ms ease;
        transition: left 600ms ease, width 600ms ease; }

.description {
  color: #A6B0B6;
  font-size: 15px;
  text-align: left;
  padding-bottom: 10px;
  padding-top: 5px; }

.high-container {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 0 30px; }
  .high-container .item-container {
    position: relative;
    float: left;
    width: 33.33%;
    height: 100%;
    padding: 10px; }
    .high-container .item-container .item-wrapper {
      position: relative;
      float: left;
      width: 100%;
      height: 100%;
      padding: 15px 0 10px 0;
      border-radius: 5px;
      background-color: #f0f0f0; }
      .high-container .item-container .item-wrapper img {
        position: relative;
        display: block;
        width: 100%;
        max-width: 24px;
        margin: 0 auto;
        margin-bottom: 5px; }
      .high-container .item-container .item-wrapper span {
        position: relative;
        display: block;
        font-size: 17px;
        font-weight: 400;
        text-align: center;
        color: #4D6478; }
        .high-container .item-container .item-wrapper span.visual-correction {
          margin-left: -10px; }
        .high-container .item-container .item-wrapper span span {
          display: inline-block;
          color: #A6B0B6; }

.evolution-container {
  position: relative;
  display: block;
  width: 100%; }
  .evolution-container .cell-wrapper {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-bottom: 0.5px solid rgba(77, 100, 120, 0.2);
    padding: 5px 0px; }
    .evolution-container .cell-wrapper:last-child {
      border-bottom: none; }
    .evolution-container .cell-wrapper.disabled {
      opacity: 0.5; }
    .evolution-container .cell-wrapper .pk-img {
      position: relative;
      display: block;
      float: left;
      margin-right: 10px; }
      .evolution-container .cell-wrapper .pk-img img {
        position: relative;
        display: block;
        float: left;
        width: 100%;
        max-width: 96px; }
    .evolution-container .cell-wrapper .number {
      position: absolute;
      top: 15px;
      left: 106px;
      font-size: 14px;
      text-align: left;
      color: #A6B0B6; }
    .evolution-container .cell-wrapper .name {
      text-align: left;
      font-size: 20px;
      line-height: 24px;
      padding-top: 30px;
      font-weight: 500;
      color: #2A3C4B; }
    .evolution-container .cell-wrapper .type-container {
      display: inline-block;
      font-size: 14px;
      color: #A6B0B6;
      font-weight: 500;
      text-align: left;
      padding-bottom: 0;
      margin-bottom: 0; }
    .evolution-container .cell-wrapper .candy-container {
      position: absolute;
      top: 50%;
      right: 0;
      border-radius: 999px;
      background-color: #f0f0f0;
      margin-top: -6px;
      -webkit-transform: translate3d(0, -50%, 0);
              transform: translate3d(0, -50%, 0); }
      .evolution-container .cell-wrapper .candy-container .item-wrapper {
        position: relative;
        float: left;
        width: 100%;
        height: 100%;
        padding: 5px 12px 3px 10px; }
        .evolution-container .cell-wrapper .candy-container .item-wrapper svg {
          position: relative;
          float: left;
          display: inline-block;
          width: 100%;
          max-width: 24px;
          margin-right: 5px; }
        .evolution-container .cell-wrapper .candy-container .item-wrapper span {
          position: relative;
          display: inline-block;
          font-size: 17px;
          line-height: 26px;
          font-weight: 500;
          text-align: left;
          color: #4D6478; }

@media (max-width: 680px) {
  .scroll-content.no-navbar {
    padding-top: 130px !important; }

  .pk-header {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 0px; }
    .pk-header .pk-img {
      height: 100%;
      margin-right: 15px;
      padding-top: 14px; }
      .pk-header .pk-img img {
        max-width: 96px; }
    .pk-header .number {
      font-size: 14px;
      top: 30px;
      left: 130px; }
    .pk-header .name {
      font-size: 24px;
      line-height: 28px;
      padding-top: 40px; }

  .content-side-info {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 60px; }

  .high-container {
    padding: 0 15px; }
    .high-container .item-container {
      padding: 5px; }
      .high-container .item-container .item-wrapper span {
        font-size: 15px;
        font-weight: 500; }
        .high-container .item-container .item-wrapper span.visual-correction {
          margin-left: -8px; }

  .evolution-container .cell-wrapper .pk-img {
    margin-right: 5px; }
  .evolution-container .cell-wrapper .number {
    left: 100px; }
  .evolution-container .cell-wrapper .candy-container {
    border: 3px solid #ffffff; }
    .evolution-container .cell-wrapper .candy-container .item-wrapper {
      position: relative;
      float: left;
      width: 100%;
      height: 100%;
      padding: 3px 10px 1px 8px; } }
.scroll-content {
  padding-top: 100px !important; }
  .scroll-content.list-bg {
    background-color: #EDF3F7 !important; }

.navbar-sidebar {
  position: relative;
  z-index: 99;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.95);
  color: #2A3C4B;
  text-align: center;
  font-size: 17px; }
  .navbar-sidebar h2 {
    position: relative;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    line-height: 60px; }

.tabs-container {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid rgba(77, 100, 120, 0.2);
  background-color: rgba(255, 255, 255, 0.95); }
  .tabs-container .item-container {
    position: relative;
    float: left;
    height: 100%;
    cursor: pointer; }
    .tabs-container .item-container.four-columns {
      width: 25%; }
    .tabs-container .item-container .item-wrapper {
      position: relative;
      float: left;
      width: 100%;
      height: 40px;
      color: #A6B0B6;
      text-align: center;
      font-weight: 500;
      font-size: 17px;
      line-height: 40px;
      -webkit-transition: all 250ms ease;
      transition: all 250ms ease; }
      .tabs-container .item-container .item-wrapper:hover:after {
        width: 80%;
        opacity: 1;
        -webkit-transition: all 250ms ease;
        transition: all 250ms ease; }
      .tabs-container .item-container .item-wrapper:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        height: 5px;
        background-color: #A6B0B6;
        content: "";
        opacity: 0;
        -webkit-transition: all 250ms ease;
        transition: all 250ms ease;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); }
      .tabs-container .item-container .item-wrapper.active {
        color: #4D6478; }
        .tabs-container .item-container .item-wrapper.active:after {
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 80%;
          height: 5px;
          background-color: #4D6478;
          content: "";
          opacity: 1;
          -webkit-transition: all 250ms ease;
          transition: all 250ms ease;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%); }

.list-sidebar-containers {
  position: relative;
  display: block; }

.pokemon-sidebar-list {
  position: relative;
  display: block;
  padding: 0 40px;
  width: 100%;
  height: 96px;
  border-bottom: 1px solid rgba(77, 100, 120, 0.2);
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease; }
  .pokemon-sidebar-list:hover {
    background-color: rgba(77, 100, 120, 0.03);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease; }
  .pokemon-sidebar-list .pk-img {
    position: relative;
    display: block;
    float: left;
    margin-right: 20px;
    height: 100%; }
    .pokemon-sidebar-list .pk-img img {
      position: relative;
      display: block;
      margin: 0 auto;
      max-width: 96px;
      width: 100%; }
  .pokemon-sidebar-list .number {
    position: relative;
    padding-top: 25px;
    color: #A6B0B6;
    text-align: left;
    font-size: 14px; }
  .pokemon-sidebar-list .name {
    color: #2A3C4B;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px; }
  .pokemon-sidebar-list .egg-container {
    position: absolute;
    top: 0;
    right: 40px;
    width: 80px;
    height: 100%; }
    .pokemon-sidebar-list .egg-container .item-wrapper {
      position: relative;
      float: left;
      padding: 25px 0 10px 0;
      width: 100%;
      height: 100%; }
      .pokemon-sidebar-list .egg-container .item-wrapper img {
        position: relative;
        display: block;
        margin: 0 auto;
        margin-bottom: 5px;
        max-width: 24px;
        width: 100%; }
      .pokemon-sidebar-list .egg-container .item-wrapper span {
        position: relative;
        display: block;
        color: #4D6478;
        text-align: center;
        font-weight: 400;
        font-size: 17px; }
        .pokemon-sidebar-list .egg-container .item-wrapper span.visual-correction {
          margin-left: -10px; }
        .pokemon-sidebar-list .egg-container .item-wrapper span span {
          display: inline-block;
          color: #A6B0B6; }

@media (max-width: 680px) {
  .tabs-container {
    border-bottom: 0.5px solid rgba(77, 100, 120, 0.2); }

  .pokemon-sidebar-list {
    padding: 0 20px;
    border-bottom: 0.5px solid rgba(77, 100, 120, 0.2); }
    .pokemon-sidebar-list .pk-img {
      margin-right: 10px; }
    .pokemon-sidebar-list .egg-container {
      right: 0px; } }
@media (max-width: 480px) {
  .pokemon-sidebar-list:active {
    background-color: rgba(77, 100, 120, 0.03);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease; }
  .pokemon-sidebar-list:hover {
    background-color: #ffffff;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease; } }
.item-container.two-columns {
  width: 50%; }

.pokemon-sidebar-list .points {
  position: absolute;
  top: 23px;
  right: 40px;
  width: 70px;
  font-size: 15px;
  line-height: 28px;
  font-weight: 500;
  color: #A6B0B6;
  text-align: center; }
  .pokemon-sidebar-list .points .ranking {
    font-size: 20px;
    color: #4D6478; }
  .pokemon-sidebar-list .points span {
    color: #A6B0B6; }

@media (max-width: 680px) {
  .pokemon-sidebar-list .points {
    right: 20px; } }
html {
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none; }

input,
textarea,
select,
a {
  outline: none; }

::-webkit-input-placeholder {
  color: #4D6478;
  text-transform: none;
  font-weight: 400; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #4D6478;
  text-transform: none;
  font-weight: 400; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #4D6478;
  text-transform: none;
  font-weight: 400; }

:-ms-input-placeholder {
  color: #4D6478;
  text-transform: none;
  font-weight: 400; }

.content {
  position: relative;
  display: block;
  clear: both;
  margin: 0 auto;
  padding-top: 70px;
  max-width: 1200px;
  width: 100%;
  height: 100%; }

.white-space {
  position: relative;
  display: block;
  clear: both;
  width: 100%;
  height: 80px; }

.footer {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  display: block;
  width: 100%;
  height: 40px;
  border-top: 1px solid rgba(77, 100, 120, 0.2);
  background-color: rgba(255, 255, 255, 0.95); }
  .footer .open-source {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0 20px;
    padding-right: 60px;
    width: 100%;
    height: 40px;
    color: rgba(77, 100, 120, 0.5);
    text-align: right;
    font-size: 14px;
    line-height: 40px; }
    .footer .open-source .github {
      position: absolute;
      top: 8px;
      right: 20px;
      cursor: pointer;
      -webkit-transition: all 250ms ease;
      transition: all 250ms ease;
      fill: rgba(77, 100, 120, 0.5); }
      .footer .open-source .github:hover {
        -webkit-transition: all 250ms ease;
        transition: all 250ms ease;
        fill: #4d6478; }

.hidden {
  display: none; }

.no-desktop {
  display: none !important; }

.preload {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: 999; }
  .preload img {
    position: absolute;
    height: 48px;
    width: 48px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0); }

.rotate {
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease; }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
            transform: translate3d(-50%, -50%, 0) rotate(0deg); }
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
            transform: translate3d(-50%, -50%, 0) rotate(360deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
            transform: translate3d(-50%, -50%, 0) rotate(0deg); }
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
            transform: translate3d(-50%, -50%, 0) rotate(360deg); } }
@media (max-width: 680px) {
  .scroll-content-list {
    overflow: auto;
    width: 100%;
    height: 100%; }

  .content {
    padding: 5px;
    padding-top: 68px; }

  .white-space {
    height: 20px; }

  .footer {
    display: none; }

  .no-desktop {
    display: block !important; } }
