<span ng-controller="TabController">
<div class="navigation-side-fixed shadow">
  <img class="back intonav" src="images/close_icon_white.svg" ng-click="closeSidebar()">
  <div class="navbar-sidebar">
    <h2>About Pokeweak</h2>
  </div>
</div>
<div class="scroll-content">
  <div class="logo-heading">
    <img src="images/iambailon.svg">
  </div>
  <div class="name">Alex Bailon<span>Product designer</span><a target="_blank" href="http://www.alexbailon.com">www.alexbailon.com</a></div>
  <div class="content-side-info">
    <h3>Pokeweak info</h3>
    <p>Pokeweak is a personal project made with love only for fun and practice my code skills. All of images of Pokémon and names are owned by Nintendo/Game Freak.</p>
    <h3>Special thanks</h3>
    <p>This website would never have been a reality without the help of <a target="_blank" href="https://twitter.com/PedroXitrus">@Pedro gutiérrez</a> and <a target="_blank" href="https://twitter.com/cloudstudio_es">@Toni Soriano</a>. Thanks to help me with the code.</p>
  </div>
</div>
</span>