<span ng-controller="TabController">
<div class="navigation-side-fixed">
    <img class="back intonav" src="images/close_icon_white.svg" ng-click="closeSidebar()">
    <div class="navbar-sidebar">
        <h2>Pokemon Ranking</h2>
    </div>
    <div class="tabs-container">
        <div class="item-container two-columns">
             <div class="item-wrapper" ng-class="{ active: isSet(1) }" ng-click="setTab(1)">
                <span>CP</span>
            </div>
        </div>
        <div class="item-container two-columns">
             <div class="item-wrapper" ng-class="{ active: isSet(2) }" ng-click="setTab(2)">
                <span>HP</span>
            </div>
        </div>
    </div>
</div>

<div class="scroll-content list-bg hidden">
    <div class="list-eggs-containers">
        <div class="pokemon-sidebar-list" ng-repeat="pokemon in pkData | orderBy:'-maxCP' track by $index" ng-show="isSet(1)" ng-click="showPokemonInner(pokemon)">
            <div class="pk-img">
                <img src="images/pk_assets/{{pokemon.number}}.svg">
            </div>
            <div class="number">#{{pokemon.number | zpad : 3}}</div>
            <div class="name">{{pokemon.name}}</div>
            <div class="points"><div class="visual-correction ranking"><span>#</span>{{pokemon.rankingCP}}</div>{{pokemon.maxCP}} <span>CP</span></div>
        </div>
    </div>
    <div class="list-eggs-containers">
        <div class="pokemon-sidebar-list" ng-repeat="pokemon in pkData | orderBy:'-maxHP' track by $index" ng-show="isSet(2)" ng-click="showPokemonInner(pokemon)">
            <div class="pk-img">
                <img src="images/pk_assets/{{pokemon.number}}.svg">
            </div>
            <div class="number">#{{pokemon.number | zpad : 3}}</div>
            <div class="name">{{pokemon.name}}</div>
            <div class="points"><div class="visual-correction ranking"><span>#</span>{{pokemon.rankingHP}}</div>{{pokemon.maxHP}} <span>HP</span></div>
        </div>
    </div>
</div>
</span>