html {
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

input,
textarea,
select,
a {
  outline: none;
}

::-webkit-input-placeholder {
  color: #4D6478;
  text-transform: none;
  font-weight: 400;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #4D6478;
  text-transform: none;
  font-weight: 400;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #4D6478;
  text-transform: none;
  font-weight: 400;
}

:-ms-input-placeholder {
  color: #4D6478;
  text-transform: none;
  font-weight: 400;
}

.content {
  position: relative;
  display: block;
  clear: both;
  margin: 0 auto;
  padding-top: 70px;
  max-width: 1200px;
  width: 100%;
  height: 100%;
}

.white-space {
  position: relative;
  display: block;
  clear: both;
  width: 100%;
  height: 80px;
}

.footer {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  display: block;
  width: 100%;
  height: 40px;
  border-top: 1px solid rgba(77, 100, 120, 0.2);
  background-color: rgba(255, 255, 255, 0.95);
  
  span {
    position: relative;
    float: left;
    left: 50%;
    margin: 0 auto;
    color: rgba(77, 100, 120, 0.5);
    text-align: center;
    font-size: 15px;
    line-height: 40px;
    cursor: pointer;
    
    transform: translate3d(-50%,0,0);
    
    &:hover {
      color: rgba(77, 100, 120, 1);
      text-decoration: line-through;
    }
  }
  .open-source {
    position: relative;
    float: right;
    padding: 0 20px;
    padding-right: 60px;
    height: 40px;
    color: rgba(77, 100, 120, 0.5);
    text-align: right;
    font-size: 14px;
    line-height: 30px;
    .github {
      position: absolute;
      top: 8px;
      right: 20px;
      cursor: pointer;
      transition: all 250ms ease;
      fill: rgba(77, 100, 120, 0.5);
      &:hover {
        transition: all 250ms ease;
        fill: rgba(77, 100, 120, 1);
      }
    }
  }
}

.hidden {
  display: none;
}

.no-desktop {
  display: none !important;
}

.preload {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: 999;
  
  img {
    position: absolute;
    height: 48px;
    width: 48px;
    top: 50%;
    left: 50%;
    
    transform: translate3d(-50%,-50%,0);
  }
}

.rotate {
  animation-name: rotate;
  animation-duration: 600ms;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
@keyframes rotate {
  0% {
    transform: translate3d(-50%,-50%,0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%,-50%,0) rotate(360deg);
  }
}

@media (max-width: 680px) {
  .scroll-content-list {
    overflow: auto;
    width: 100%;
    height: 100%;
    //        padding-bottom: 20px;
  }
  .content {
    padding: 5px;
    padding-top: 68px;
  }
  .white-space {
    height: 20px;
  }
  .open-source {
    display: none;
  }
  .no-desktop {
    display: block !important;
  }
}