html {
	font-size : 100%;
    -webkit-overflow-scrolling : touch;
	-webkit-tap-highlight-color : transparent;
	-webkit-text-size-adjust : 100%;
	-ms-text-size-adjust : 100%;
}

body {
	margin : 0;
	padding : 0;
	width : 100%;
    height: 100%;
	background-color : #EDF3F7;
}

a {
    text-decoration: none;
}
input, textarea, select, a { outline: none; }



.img-bg {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 912px;
    height: 364px;
    margin: 0 auto;
    
    img {
        display: block;
        width: 100%;
    }
}

.center-container {
    position: absolute;
    max-width: 480px;
    width: 100%; 
    padding: 40px;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -70%);

.logo {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 360px;
    width: 100%;
    
    img {
        display: block;
        width: 100%;
    }
    
}

.claim {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0;
    
    p {
        font-family: 'Open Sans', sans-serif;    
        font-size: 25px;
        color: #B1C2D0;        
    }
}


.download-section {
    display: block;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    p {
        display: block;
        font-family: 'Open Sans', sans-serif;    
        font-size: 17px;
        color: #4D6478;
        text-align: center;
        margin: 0 auto;
    }
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        padding: 10px 0;
        
        li {
            display: inline-block;
            position: relative;
            width: 180px;
            text-align: center;
            padding: 0 10px;
            
            img {
                position: relative;
                display: block;
                width: 100%;
                box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
            }
        }
    }
    
}

    #appstore {
        transition: all 200ms ease;
        &:hover {
            transform: scale(1.1);
            transition: all 200ms ease;
        }
    }
    #playstore {
        transition: all 200ms ease;
        &:hover {
            transform: scale(1.1);
            transition: all 200ms ease;
        }
    }

}

.footer {
    position: fixed;
    bottom: 0;
    height: 10px;
    width: 100%;
    background-color: #2A3C4B;
    
    p {
        font-family: 'Open Sans', sans-serif;    
        font-size: 12px;
        color: #B1C2D0;
        text-align: center;
        max-width: 480px;
        padding: 20px;
        margin: 0 auto;
        margin-top: -80px;
    }
}
        



@media screen and (max-width: 768px) {
    
    
    .center-container {
        padding: 40px;
        
        transform: translate(-50%, -60%);
        .claim {
            padding: 20px 0;

            p {
                font-family: 'Open Sans', sans-serif;    
                font-size: 17px;
                color: #B1C2D0;  
                font-weight: 600;
            }
        }
        
        .download-section {
            height: 60px;
            margin: 0 auto;
            p {
                font-size: 14px;
                display: none;
            }
            ul {
                li {
                    width: 180px;
                    padding: 10px;
                }
            }

        }
        
        
    }
    .footer {
        display: none;
    }
}





